#filename_list{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    overflow-y: scroll;
}


#interval_graph{
    width: 100px;
    height: 100px;
}

#left_panel{
    float: left;
}

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 14pt sans-serif;
}